@use '../../styles/variables' as v;

.repo-list {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: v.$spacing-3;
  }

  &__title {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
